<div>
  <h2 id="page-heading" data-cy="SubjectRegisterHeading">
    <span>Subject Registers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-subject-register"
        [routerLink]="['/subject-register/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Subject Register</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (subjectRegisters().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Subject Registers found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="student.id">
              <div class="d-flex">
                <span>Student</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subject.id">
              <div class="d-flex">
                <span>Subject</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (subjectRegister of subjectRegisters(); track trackId(subjectRegister)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/subject-register', subjectRegister.id, 'view']">{{ subjectRegister.id }}</a>
              </td>
              <td>
                @if (subjectRegister.student) {
                  <div>
                    <a [routerLink]="['/student', subjectRegister.student.id, 'view']">{{ subjectRegister.student.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (subjectRegister.subject) {
                  <div>
                    <a [routerLink]="['/subject', subjectRegister.subject.id, 'view']">{{ subjectRegister.subject.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/subject-register', subjectRegister.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/subject-register', subjectRegister.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(subjectRegister)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
