<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (subject(); as subjectRef) {
      <div>
        <h2 data-cy="subjectDetailsHeading"><span>Subject</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ subjectRef.id }}</span>
          </dd>
          <dt><span>Subject Description</span></dt>
          <dd>
            <span>{{ subjectRef.subjectDescription }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/subject', subjectRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
